.hero {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    // url(../images/bghero.jpg)
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin: 0 auto 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}



