.hero {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    min-height: 400px;
    width: 100%;
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    @media screen and (max-width:767px) {
        min-width: 480px;
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mbghero.jpg);
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mbghero@2x.ipg);
            }
    }

    @media screen and (min-width: $tablet) and (max-width:1199px) {
        min-width: 768px;
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tbghero.jpg);
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tbghero@2x.ipg);
            }
    }

    @media screen and (min-width: $desktop) {
        min-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bghero.jpg);
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bghero@2x.ipg);
            }
    }
}



.hero__title {
    margin: 0 auto 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        max-width: 360px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}



